% rebase('base.tpl')

<form action="/scrape" method="post" class="smart-green">
<h1>Uzta allows you to save your data from a Lorea seed into simple text files:</h1>
  <br><br>
  <label for="username">
    Username:
  </label>
  <input id="username" name="username" type="text">
  <br><br>
  <label for="password">
    Password:
  </label>
  <input id="password" name="password" type="password">
  <br><br>
  <label for="website">
    Website:
  </label>
  <input type="radio" id="website" name="website" value="https://n-1.cc/" checked>N-1</input>
  <br>
  <input type="radio" id="website" name="website" value="https://cooperativa.ecoxarxes.cat/">Ecoxarxes</input>
  <br><br>
  <label for="email">
    Email:
  </label>
  <input id="email" name="email" type="text">
  <br>
  <br>
  <br>
  <input value="Start Job" type="submit">
</form>
